<div class="container" ng-cloak>
    <div class="row">
        <div class="col-md-5"></div>
        <div id="admin-id" class="col-md-2 text-center">
            <form ng-submit="submitAdminCode();">
                <div class="form-group">
                    <input type="text" class="form-control" id="admin-code" ng-model="admin.code" placeholder="Clave Principal">
                </div>
                <button type="submit" ng-disabled="!admin.code" class="btn btn-primary btn-lg">Validar</button>
            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>