<div class="container" ng-cloak>
    <div class="row">
        <div class="col-md-2">
            <div ng-repeat="user in users">
                <h3>\{{user.name}}</h3>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-sm-1">
                    <div id="addRectangle"></div>
                </div>
                <div class="col-sm-1">
                    <div id="addCircle"></div>
                </div>
                <div class="col-sm-10"></div>
            </div>
        </div>
    </div>
    <div class="row"></div>
        <div class="col-md-12" id="canvas-container">
            <canvas id="fabricjs" width="500" height="500"></canvas>
        </div>
    </div>
</div>