<div class="container" ng-cloak>
    <div class="row">
        <div class="col-md-2">
            <div ng-repeat="user in users">
                <h6>\{{user.name}}</h6>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1">
                    <div id="smRectangle"></div>
                </div>
                <div class="col-md-1">
                    <div id="mdRectangle"></div>
                </div>
                <div class="col-md-1">
                    <div id="lgRectangle"></div>
                </div>
                <div class="col-md-1">
                    <div id="smCircle"></div>
                </div>
                <div class="col-md-1">
                    <div id="mdCircle"></div>
                </div>
                <div class="col-md-1">
                    <div id="lgCircle"></div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="row"></div>
        <div class="col-md-12" id="canvas-container">
            <canvas id="fabricjs" width="500" height="500"></canvas>
        </div>
    </div>
</div>