<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <div id="smRectangle"></div>
                </div>
                <div class="col-md-1">
                    <div id="mdRectangle"></div>
                </div>
                <div class="col-md-1">
                    <div id="lgRectangle"></div>
                </div>
                <div class="col-md-1">
                    <div id="smCircle"></div>
                </div>
                <div class="col-md-1">
                    <div id="mdCircle"></div>
                </div>
                <div class="col-md-1">
                    <div id="lgCircle"></div>
                </div>
                <div class="col-md-5">
                    <div id="admin-tools" class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-1">
                            <button id="create-triangle" class="btn btn-info"><i class="fa fa-caret-up"></i></button>
                        </div>
                        <div class="col-md-1">
                            <button id="create-hexagon" class="btn btn-info"><i class="fa fa-connectdevelop"></i></button>
                        </div>
                        <div class="col-md-1">
                            <button id="delete-triangle-line" class="btn btn-info"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <div class="col-md-1">
                            <button id="drawing-mode" class="btn btn-info"><i class="fa fa-pencil"></i></button>
                        </div>
                        <div class="col-md-1">
                            <input id="drawing-stroke" class="form-control" type="number" value="2" min="1" max="20"></input>
                        </div>
                        <div class="col-md-1">
                            <input id="drawing-color" class="form-control" type="color" value="#0000FF"></input>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <h6>\{{session}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
        <div id="canvas-container">
            <canvas id="fabricjs" width="500" height="500"></canvas>
        </div>
    </div>
</div>